@{
    ViewBag.Title = "表单模板历史记录管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@Html.AppendCssFile("/Areas/LR_SystemModule/Views/DataItem/ClassifyIndex.css")
<div class="sp-layout">
    <div class="sp-layout-center">
        <div class="sp-layout-wrap sp-layout-wrap-notitle">
            <div class="sp-layout-tool">
                <div class="sp-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="sp_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm">
                        <a id="sp_preview" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;预览模板</a>
                        <a id="sp_update" class="btn btn-default"><i class="fa fa-exchange"></i>&nbsp;更新到此版本</a>
                    </div>
                </div>
            </div>
            <div class="sp-layout-body" id="gridtable"></div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_FormModule/Views/Custmerform/HistoryForm.js")
