@{
    ViewBag.Title = "人员添加";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="sp-form-wrap" id="form">
    <div class="col-xs-12 sp-form-item">
        <div class="sp-form-item-title">部门选择<font face="宋体">*</font></div>
        <div id="department" isvalid="yes" checkexpession="NotNull"></div>
    </div>
    <div class="col-xs-12 sp-form-item">
        <div class="sp-form-item-title">人员选择<font face="宋体">*</font></div>
        <div id="userId" isvalid="yes" checkexpession="NotNull"></div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_OrganizationModule/Views/User/SelectOnlyForm.js")




