@{
    ViewBag.Title = "MES系统";/*飞扬版风格*/
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@Html.AppendCssFile("/Views/Home/AdminTop/Index.min.css")

<div class="sp-frame-top">
    <a class="sp-logo-title">
        <div class="sp-login-gsmc">&copy; MES系统</div>
    </a>
</div>
<div class="sp-frame-menu-btn" id="sp_frame_menu_btn">
    <i class="fa fa-bars "></i>
</div>
<div class="sp-second-menu-wrap"><div id="sp_second_menu_wrap"></div></div>

@Html.AppendJsFile("/Views/Home/AdminTop/Index.min.js")




