@{
    ViewBag.Title = "日志管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="sp_layout" class="sp-layout sp-layout-left-center">
    <div class="sp-layout-left">
        <div class="sp-layout-wrap sp-layout-wrap-notitle" style="padding-top:10px;">
            <div class="sp-layout-body">
                <ul class="sp-left-list" id="sp_left_list">
                    <li class="active  splg" data-value="1">登录日志</li>
                    <li data-value="2" class="splg" >访问日志</li>
                    <li data-value="3" class="splg" >操作日志</li>
                    <li data-value="4" class="splg" >异常日志</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sp-layout-center">
        <div class="sp-layout-wrap sp-layout-wrap-notitle">
            <div class="sp-layout-tool">
                <div class="sp-layout-tool-left">
                    <div class="sp-layout-tool-item">
                        <div id="datesearch" class="datetime"></div>
                    </div>
                    <div class="sp-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="sp-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="splg">查询</span></a>
                    </div>
                </div>
                <div class="sp-layout-tool-right">
                    <div class=" btn-group btn-group-sm">
                        <a id="sp_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class=" btn-group btn-group-sm" sp-authorize="yes">
                        <a id="sp_removelog" class="btn btn-default"><i class="fa fa-eraser"></i>&nbsp;<span class="splg">清空</span></a>
                        <a id="sp_export" class="btn btn-default"><i class="fa fa-sign-out"></i>&nbsp;<span class="splg">导出</span></a>
                    </div>
                </div>
            </div>
            <div class="sp-layout-body" id="gridtable">
            </div>
        </div>
    </div>
</div>
@Html.AppendJsFile("/Areas/LR_SystemModule/Views/Log/Index.js")

