<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=120.79.158.106;Initial Catalog=APMS;User ID=sa;Password=pass123!@#" providerName="System.Data.SqlClient" />
  <add name="MesDb" connectionString="Data Source=120.79.158.106;Initial Catalog=APMS20;User ID=sa;Password=pass123!@#;Connect Timeout=500" providerName="System.Data.SqlClient" />
</connectionStrings>


