<?xml version="1.0" encoding="utf-8"?>
<unity>

  <typeAliases>
    <typeAlias alias="IDatabase" type="Sprann.DataBase.IDatabase,Sprann.DataBase" />
    <typeAlias alias="SqlServer" type="Sprann.DataBase.SqlServer.Database,Sprann.DataBase.SqlServer" />
  </typeAliases>

  <containers>

    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
    </container>
  </containers>
</unity>
